version: '3.9'

services:
  
  server: 
    build:
      context: '/server'
    restart: always
    environment:
      PORT: 5001
      DB_URL: foo 
      SESSION_SECRET: keyboard-cat
      EMAIL_USER: jsquiz.help@gmail.com
      EMAIL_PASSWORD: Joonapoonamakaroona1
      REDIS_URL: foo
      CORS_ORIGIN: client:3003
    depends_on:
      - redis
    ports:
      - 5001:5001

  client:
    build:
      context: '/client'
    restart: always
    environment:
      NODE_ENV: dev
    depends_on:
      - redis
    ports:
      - 3003:3003
  
  maria:
    image: redis:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: maria
      MYSQL_USER: maria
      MYSQL_PASSWORD: maria
      MYSQL_DATABASE: test_templates
    ports:
      - "3306:3306"

